[submodule "rust-audiobook"]
	path = rust-audiobook
	url = https://github.com/milanglacier/rust-audiobook.git
[submodule "hart-crane-appreciation"]
	path = hart-crane-appreciation
	url = https://github.com/milanglacier/hart-crane-appreciation.git
